{% extends "::base.html.twig" %}

{% block title %}AppBundle:Category:edit{% endblock %}

{% block body %}
    <div class="wrap">
        <h1 class="title-page">{{ article.title }}</h1>
        <div class="content">

        </div>
    </div>
{% endblock %}
